torch @ https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
backports.csv==1.0.7
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cheroot==8.5.2
CherryPy==18.6.0
click==7.1.2
cryptography==3.4.6
dataclasses==0.8
feedparser==6.0.2
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.7.3
importlib-resources==5.1.2
itsdangerous==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.2.0
jaraco.functools==3.2.1
jaraco.text==3.5.0
Jinja2==2.11.3
joblib==1.0.1
lxml==4.6.2
MarkupSafe==1.1.1
more-itertools==8.7.0
mysqlclient==2.0.3
nltk==3.5
numpy==1.19.5
packaging==20.9
pandas==1.1.5
Pattern==3.6
pdfminer.six==20201018
portend==2.7.1
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2021.1
regex==2021.3.17
requests==2.25.1
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.5.4
sgmllib3k==1.0.0
six==1.15.0
sklearn==0.0
sortedcontainers==2.3.0
soupsieve==2.2.1
tempora==4.0.1
threadpoolctl==2.1.0
tokenizers==0.10.1
tqdm==4.59.0
transformers==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
zc.lockfile==2.0
zipp==3.4.1