
body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0;
	background-color: #e9e9e9cf;
}

.container{
	text-align:center;
	margin: 10px;
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background: #03a9f4;
	border-bottom: #000000 3px solid;
	height:120px;
	width:100%;
    padding-top:30px;
    padding-bottom: 30px;
}

.main-header{
			text-align:center;
			background-color: #03a9f4;
			height:100px;
			width:100%;
			margin:0;
		}


.brandname{
	text-align:center;
    font-size:30px;
	color: hsl(0, 2%, 8%);
    margin: 10px;
}


header h2{
	text-align:center;
	color:#fff;
}

.results{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.predict-button {
	background-color: #56b159;
	color:  white;
	font-size: 18px;
	font-family: 'Monaco';
	padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.predict-button:hover {
	background-color: #1d8726;
	color: white;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	position: absolute;
	left: 48%;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#wrapper {
	max-width: 200px;
	/* overflow: auto;
	display: flex; */
	position: absolute;
	left: 50%;
}

#article-text {
	border-radius: 20px;
	padding: 20px;
    outline: none;
}

#result-banner {
	font-family: 'Monaco';
	font-weight: 'bold';
}
